* {
    box-sizing: border-box;
}

._hidden {
    display: none;
    visibility: hidden;
}

body {
    margin: 0 auto;
    padding: 5px;
    background-color: #eaeaea;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}

main {
    padding: 20px;
    margin: 0 auto;
    border: black 1px solid;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 15px;
    align-content: space-between;
}

.row {
    flex: 0 0 100%;
}

.item {
    /*margin: auto;*/
}

.bt {
    box-shadow: gray 1px 1px 3px;
    display: block;
    padding: 5px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.bt._disabled {
    cursor: not-allowed;
    color: gray;
}

.bt:hover {
    box-shadow: gray 2px 2px 3px;
}

.bt._disabled:hover {
    box-shadow: gray 1px 1px 3px;
}

#x_image_file {
    visibility: hidden;
    display: none;
}

.over_box {
    display: block;
    overflow: scroll;
    background: #e4e4e4;
    height: 400px;
    box-shadow: gray -2px -2px 1px;
}

@media screen and (max-width: 640px) {
    .over_box {
        width: 490px;
    }
}

@media screen and (min-width: 641px) {
    .over_box {
        min-width: 728px;
    }
}

@media screen and (min-width: 1024px) {
    .over_box {
        min-width: 984px;
    }
}
